.root {
    -fx-background-image: url("bg.jpg");
}

.button {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-family: "Verdana", Georgia, Serif;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: darkcyan;
    -fx-opacity: 100%;
}